.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
  // background: blue;
}
.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}
.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px
}
.border-r5 {
  border-radius: 5px;
}
.ellipsis {     // 超出宽度，显示为省略号
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box-container {
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  padding: 10px;
  overflow-y: auto;
}

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-around {
  justify-content: space-around;
}
.ps-a {
  position: absolute;
}
.ps-r {
  position: relative;
}
.ps-f {
  position: fixed;
}
.cur-p {
  cursor: pointer;
}
.cur-all {
  cursor: all-scroll
}
.t0 {
  top: 0;
}

.r0 {
  right: 0;
}

.b0 {
  bottom: 0;
}

.l0 {
  left: 0;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.mr-center {
  margin: 0 auto;
}

.text-r {
  text-align: right;
}

.text-l {
  text-align: left;
}

.text-c {
  text-align: center;
}

.title-box {
  font-size: 20px;
}